.contenido__cajaFormulario {
  width: 100%;
  min-height: 80vh;
  padding: 1rem;
}

.contenido__formulario {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formulario__campo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.campo__contorno {
  padding: 1rem;
  border: 1px solid #2d2d2d;
  border-radius: 0.5rem;
}

.campo__entrada {
  width: 100%;
  text-align: center;
  border: 1px solid #2d2d2d;
}

.campo__entrada:focus {
  outline: none;
}

.campo_requerido {
  outline: 1px solid red;
}

.formulario__botones {
  width: 100%;
  margin-block-start: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.formulario__confirmacion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.formulario__cancelacion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
