.pag {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;

  .pag__contenido {
    width: 100vw;
    min-height: 95vh;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
  }

  .pag__pie {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: #2d2d2d;
  }
}

.parte_oculta {
  display: none;
}

.sin_color {
  color: transparent;
}
