.pag {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.pag__cabecera {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
}

.pag__contenido {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.contenido__lista {
  width: 50%;
  min-height: 80vh;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.lista__contacto {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
}

.lista__vacia {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
}

.contenido__cajaFormulario {
  width: 50%;
  min-height: 80vh;
  padding: 1rem;
  background: #1d1d1d;
}

.contenido__formulario {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.formulario__estructura {
}

.estructura__campos {
}

.estructura__label {
  width: 50%;
  text-align: center;
}

.estructura__entrada {
  width: 50%;
}

.formulario__entrada {
  text-align: center;
  border: 1px solid #2d2d2d;
}

.formulario__entrada:focus {
  outline: none;
}

.campo_requerido {
  outline: 1px solid red;
}

.estructura__botones {
  width: 100%;
  margin-block-start: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.estructura__confirmacion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.estructura__cancelacion {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.pag__footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
}
