.contenido__vistaDetallada {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.vistaDetallada__tabla {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .vistaDetallada__campo {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .vistaDetallada__acciones {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
}
