<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../ico/icons8-estrella-doodle-32.png" type="image/png" sizes="32x32">
    <title>Prueba IndexDB</title>
    <!-- Hojas de estilo -->
    <!--
    <link rel="stylesheet" href="https://yaqui-sieras.github.io/miReset-css/miReset.css" type="text/css">
    -->
    <link rel="stylesheet" href="../css/miReset.css" type="text/css">
    <link rel="stylesheet" href="../css/inicio.css" type="text/css">
    <link rel="stylesheet" href="../css/formulario.css" type="text/css">
    <link rel="stylesheet" href="../css/vista_detallada.css" type="text/css">
    <link rel="stylesheet" href="../css/gral.css" type="text/css">

</head>

<body>
    <div class="pag">
        <main class="pag__contenido">
            <section id="seccion_inicio" class="contenido__inicio">
                <header class="inicio__cabecera">
                    <div class="cabecera__logo">
                        <div class="logo"></div>
                        <h1>Agenda de contactos</h1>
                    </div>
                    <div class="cabecera__buscador">
                        <input type="text" id="buscador" class="buscador__input" placeholder="Buscar...">
                        <div class="buscador__etiquetas"></div>
                        <div class="buscador__filtros"></div>
                    </div>
                    <div class="cabecera__opciones">
                        <div class="opciones__configuracion"></div>
                    </div>
                </header>
                <div id="lista_contactos" class="inicio__lista">
                    <article class="lista__vacia">
                        <h2>Sin contactos</h2>
                    </article>
                </div>
                <div class="inicio__agg_contacto">
                    <button type="button" id="btn-agregar" class="agg__btn" value="crear"> + </button>
                </div>
            </section>
            <section id="formulario" class="contenido__cajaFormulario parte_oculta">
                <form class="contenido__formulario">
                    <div class="formulario__campo">
                        <fieldset class="campo__contorno">
                            <legend class="sin_color">.</legend>
                            <input type="text" id="nombre" class="campo__entrada" placeholder="Nombre">
                        </fieldset>
                    </div>
                    <div class="formulario__campo">
                        <fieldset class="campo__contorno">
                            <legend class="sin_color">.</legend>
                            <input type="text" id="apellido" class="campo__entrada" placeholder="Apellido">
                        </fieldset>
                    </div>
                    <div class="formulario__campo">
                        <fieldset class="campo__contorno">
                            <legend class="sin_color">.</legend>
                            <input type="number" id="DNI" class="campo__entrada" placeholder="DNI">
                        </fieldset>
                    </div>
                    <div class="formulario__botones">
                        <div class="formulario__confirmacion">
                            <button type="button" id="btn-guardar" value="crear">Guardar</button>
                        </div>
                        <div class="formulario__cancelacion">
                            <button type="button" id="btn-cancelar">Cancelar</button>
                        </div>
                    </div>
                </form>
            </section>
            <section id="vista_detallada" class="contenido__vistaDetallada parte_oculta">
                <header class="vistaDetallada__cabecera">
                    <div class="cabecera__retroceder">
                        <div id="btn-retroceder" class="acciones__retroceder"></div>
                    </div>
                    <div class="cabecera__acciones">
                        <div id="btn-editar" class="acciones__editar"></div>
                        <input title="fav" type="checkbox" id="btn-favorito" class="acciones__favorito" value="true" \>
                        <div id="btn-configuracion" class="acciones__configuracion"></div>
                    </div>
                </header>
                <table class="vistaDetallada__tabla">
                    <tr class="vistaDetallada__campo">
                        <td>
                            <p>Nombre :</p>
                        </td>
                        <td>
                            <p id="campo__nombre">Nombre</p>
                        </td>
                    </tr>
                    <tr class="vistaDetallada__campo">
                        <td>
                            <p>Apellido :</p>
                        </td>
                        <td>
                            <p id="campo__apellido">Apellido</p>
                        </td>
                    </tr>
                    <tr class="vistaDetallada__campo">
                        <td>
                            <p>DNI :</p>
                        </td>
                        <td>
                            <p id="campo__dni">DNI</p>
                        </td>
                    </tr>
                </table>
                <div class="vistaDetallada__eliminar">
                    <div id="btn-eliminar"></div>
                </div>
            </section>
        </main>
        <footer class="pag__pie">
            <p>
                <small>Desarrollado por </small><a href="https://yaqui-sieras.github.io"><small>Yaqui
                        Sieras</small></a>
                <small id="anho">2025</small>
            </p>
        </footer>
    </div>

    <script src="../js/anho_automatico.js"></script>
    <script type="module" src="../js/reformas_index.js"></script>
</body>

</html>